/* Needed for a fluid height: */
html, body, .container, .main { height: 400px;}

/* main wrapper */
.cbp-contentslider {
	width: 100%;
	height: 70%;
	margin: 1em auto;
	position: relative;
	border: 0px solid #1abc9c;
    display: none;
}

.cbp-contentslider > ul {
	list-style: none;
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
	padding: 0;
	margin: 0;
}

.cbp-contentslider > ul li {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	padding: 1em;
}

/* Whithout JS, we use :target */
.cbp-contentslider > ul li:target {
	z-index: 100;
}

.cbp-contentslider nav {
	bottom: 0;
	left: 0;
	right: 0;
	height: 3.313em;
	z-index: 1000;
	border-top: 0px solid #1abc9c;
	overflow: hidden;
    float: right;
}

.cbp-contentslider nav a {
	float: left;
	display: block;
	width: 20px !important;
    height: 20px;
	letter-spacing: 0.1em;
	overflow: hidden;
	color: #1abc9c;
	background: #fff;
	outline: none;
	text-align: center;
	line-height: 3;
	position: relative;
    margin: 10px 10px 10px 10px;
	text-transform: uppercase;
	border: 4px solid #1abc9c;
    border-radius: 50%;
	-webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.cbp-contentslider nav a span {
	display: block;
}

.cbp-contentslider nav a:hover {
	background-color: #1abc9c;
	color: #fff;
}

.cbp-contentslider nav a.rc-active {
	background-color: #1abc9c;
	color: #fff;
}

/* Iconfont for navigation and headings */

.cbp-contentslider nav a:hover:before {
	color: rgba(255,255,255,0.9);
}

.cbp-contentslider h3 {
	font-size: 2em;
	line-height: 1.5;
	font-weight: 300;
	margin: 0 0 0.3em;
	position: relative;
	color: #1abc9c;
	text-transform: uppercase;
	text-align: right;
	letter-spacing: 0.3em;
	padding: 0 0.2em 0 0;
	border-bottom: 2px solid #1abc9c;
}

.cbp-contentslider li > div {
	width: 100%;
    height: 100%;
	padding: 50px 0px 20px 0px;
	overflow-x: hidden;
	overflow-y: hidden;
}

.cbp-contentslider .cbp-content {
	-webkit-column-rule: 1px dashed #1abc9c;
	-moz-column-rule: 1px dashed #1abc9c;
	column-rule: 1px dashed #1abc9c;
	-webkit-column-count: 2;
	-moz-column-count: 2;
	-o-column-count: 2;
	column-count: 2;
	-webkit-column-gap: 1em;
	-moz-column-gap: 1em;
	-o-column-gap: 1em;
	column-gap: 1em;
	vertical-align: top;	
	padding: 1em 0;
}

.cbp-contentslider p {
	color: #1abc9c;
	padding: 0 0.5em 0.4em;
	margin: 0;
	font-size: 1.2em;
	font-weight: 300;
	text-align: justify;
	line-height: 1.6;
}

.loader-container {
    width: 50%;
    float: left;
}

header nav a {
    margin: 10px 10px 0 10px;
    color: #89867E;
}

header nav a:hover {
    color: #555;
}

/* Media queries */

@media screen and (max-width: 70em) { 
	.cbp-contentslider p {
		font-size: 100%;
	}
}

@media screen and (max-width: 67.75em) {

	.cbp-contentslider { font-size: 85%; }

	.cbp-contentslider nav a[class^="icon-"]:before, 
	.cbp-contentslider nav a[class*=" icon-"]:before {
		left: 50%;
		margin-left: -1.250em;
	}

	.cbp-contentslider nav a span {
		display: none;
	}
}

@media screen and (max-width: 43em) {

	.cbp-contentslider h3 {
		font-size: 2em;
	}

	.cbp-contentslider .cbp-content {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		-o-column-count: 1;
		column-count: 1;
	}

	.cbp-contentslider li > div {
		top: 5em;
	}

}

@media screen and (max-width: 25em) { 
	.cbp-contentslider nav a { padding: 0;}
	.cbp-contentslider h3[class^="icon-"]:before, 
	.cbp-contentslider h3[class*=" icon-"]:before { display: none;}
}
